.dashboard > .dashboard-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: rgb(248, 249, 250);
    margin-top: 50px;
}
