.blogForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px auto 0;
  height: 500px;
  width: 500px;
  border: 1px solid black;
  border-radius: 5px;
}

.blogForm > h1 {
  margin-top: 5px 0 20px 0;
  font-size: 60px;
}

.blogForm > input,
.blogForm > button {
  width: 450px;
  height: 50px;
  border-radius: 5px;
  margin: 10px 10px;
}

.blogForm > input {
  padding: 0 10px;
}

.blogForm > button:hover {
  background-color: rgb(36, 134, 185);
}

.blogForm > textarea {
  border-radius: 5px;
  padding: 0 10px;
}
